*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.container{
    width: 60vw;
    height: 70vh;
    border: 2px solid  red;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    


    
} 

.main{
    width: 100%;
    height: 30%;
    border: 1px solid red;
}
/* .content{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 2em 0; */




 /* .add{
    width: 25em;
    height: 2em;
    
/* } */
/* .submit{
    width:10em;
    height:2em ;
    border-radius:5px;
} */ */
